extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 Alexis Vogelsperger


        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Pitch
        .portfolio-bio
          p
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Skills
        ul
          li Express
          li Pug
          li JQuery
          li JavaScript
          li Node
          li npm
          li CSS
          li HTML
          li API Request

        h6 Contact Info

        //- Contact Info
        ul
          li +49 176 249 160 98
          li voo.alexis@gmail.com

        //- Media Accounts 
        a.button.expanded(href='https://www.linkedin.com/in/alexis-vogelsperger-650031153/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/uGGy?tab=repositories', target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  